<body style="font-family: Calibri, 'Trebuchet MS', sans-serif;font-size:14px;color:#000;background:#eee">
<br/>
<div style="max-width:500px;margin:0 auto;background:#fff">
    <div style="background: #790a0a;padding:4px">
        <div style="font-size:24px;text-align:center;color:#e98080;">WARNING</div>
    </div>
    <div style="background: #970000;padding:40px 0 30px;text-align:center">
        <div style="font-size:30px;color:white">High Risk - Not Safe</div>
        <p style="color:white">Do not drink this water.<br/>Presence of coliform bacteria confirmed.
        </p>
    </div>
    <div style="text-align:center;color:#fff;background: #2c2c2c;padding:8px">
        <div style="font-size:15px;font-variant-caps: all-small-caps">coliform test started at
            {startTime}
        </div>
    </div>
    <div style="text-align:center;margin:30px;padding:0 20px">
        <div style="font-size:16px;">Detected in: <b>{detectionDuration}</b> at {detectionTime}
        </div>
    </div>
    <div style="text-align:center;margin-bottom:30px;display:block">
        <div>Final</div>
        <br/>
        <img style=" max-width:200px " src="cid:lastImage"><br/>
    </div>
    <div style="text-align:center;margin-bottom:30px ">
        <div>Detected</div>
        <br/>
        <img style="max-width:200px" src="cid:turbidImage"><br/>
    </div>
    <div style="text-align: center;margin-bottom:30px">
        <div>Start</div>
        <br/>
        <img style="max-width:200px" src="cid:firstImage"><br/>
    </div>
    <div style="padding:20px;line-height:22px">
        <div style="font-size:16px;font-weight: bold;margin-bottom: 10px; ">What should I do next?
        </div>
        Stop drinking or using the water immediately. Next investigate and find the source of the
        contamination. Take any necessary steps to disinfect the water. Conduct further tests to
        ensure the water is clear of all contamination. Check our website for more
        information.
    </div>
    <div style="padding:15px 20px;line-height:22px">
        <div style="font-size:16px;font-weight:bold;margin-bottom:10px; ">Information</div>
        The presence of coliform bacteria in drinking water usually indicates the possibility of
        contamination by disease-causing organisms (pathogens).
    </div>
    <div style="margin-top:20px;text-align:center;color:#ffffff;background: #2c2c2c;padding:20px ">
        Foundation for Environmental Monitoring (ffem)<br/> Copyright &copy; ffem
        <a style="color:#c4e9ff " href="http://ffem.io ">ffem.io</a><br/>
        <a style="color:#c4e9ff " href="http://ffem.io/privacy ">Privacy policy</a>
    </div>
    <div style="color: #494949;padding:20px;">
        Product Disclaimer: ffem Caddisfly Water Test Kits are screening tests and cannot be used to
        certify water as safe or unsafe for drinking or other purposes. ffem neither accepts or
        assumes any liability associated with the test kits or recommendations
        based on the analysis.
    </div>
</div>
<br/>
<br/>
<br/>
</body>